{% extends 'home.html' %}
{% load i18n %}



{#{% block content %}#}
{#    <div class="col-sm-4"></div>#}
{#    <div class="col-sm-4">#}
{#        <form action="" method="post" class="form-row">#}
{#                {% csrf_token %}#}
{#                {{ form.as_p }}#}
{#                <input class="btn btn-danger btn-sm" type="submit" value="Сбросить пароль">#}
{#        </form>#}
{#    </div>#}
{#{% endblock %}#}


{% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url 'home' %}">{% trans Home %}</a>
    &rsaquo; {% trans 'Password reset' %}
    </div>
{% endblock %}

{% block title %}
    <title>BP | Password reset</title>
{% endblock %}

{% block content %}
<div class="col-sm-4">
    <h1>{% trans 'Password reset' %}</h1>
    <p>{% trans "Forgot your password? Enter your email adress below," %}</p>
    <form action="" method="post">
    {% csrf_token %}
    {{ form.email.errors }}
    <p><label for="id_email">{% trans 'Email adress:' %}</label>{{ form.email }} <input type="submit" value="{% trans 'Reset my password' %}" />
    </p>
    </form>
</div>
{% endblock %}