{#{% extends 'home.html' %}#}
{##}
{#{% block title %}#}
{#    <title>BP | Password reset</title>#}
{#{% endblock %}#}
{##}
{#{% block content %}#}
{##}
{#    E-mail sent to you successfully!#}
{##}
{#{% endblock %}#}


{% extends 'home.html' %}
{% load i18n %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url 'home' %}">{% trans Home %}</a>
    &rsaquo; {% trans 'Password reset complete' %}
    </div>
{% endblock %}

{% block title %}
    <title>BP | Password reset complete</title>
{% endblock %}

{% block content %}
<div class="col-sm-4">
    <h1>{% trans 'Password reset complete' %}</h1>
    <p>{% trans "Your password has been sent. You may go ahead and log in." %}</p>
    <p><a href="{% url 'login' %}"><button class="btn btn-primary btn-sm" type="button" aria-haspopup="false">Log in</button></a></p>
</div>
{% endblock %}